html * {
    font-family: 'Quicksand', sans-serif !important;
    text-align: center;
}

h1 {
    padding-top: 10px;
}

.border-secondary {
    background-color: #075985;
    border-radius: 10px;
}

.menu{
    text-align:center}

.menu .button,
.menu .button-shape {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    color: #000;
    font-family: sans-serif;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fffff1;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #c0c0c0;
}

.menu .button-shape.selected-shape,
.menu .button.selected{
    background-color: #0ea5e9;
    color: #fff
}

@media (min-width: 650px) {
    .menu .button:hover,
    .menu .button-shape:hover {
        background-color: #0ea5e9;
        color: #fff
    }
}

@media (max-width: 650px) {
    .menu .button,
    .menu .button-shape {
        display: block;
    }
}


